* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    min-height: 100%;
}

.cls__global_container h1 {
    font-weight: 700;
    font-size: 3.4rem;
}

.cls__global_container h2 {
    font-weight: 700;
    font-size: 2.9rem;
}

.cls__global_container h3 {
    font-weight: 700;
    font-size: 2.4rem;
}

.cls__global_container h4 {
    font-weight: 700;
    font-size: 2rem;
}

.cls__global_container h5 {
    font-weight: 700;
    font-size: 1.4rem;
}

p {
    font-weight: 500;
}

body {
    min-height: 100%;
    background-color: #E5E5E5;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 44, 44, 0.516);
    display: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.cls__global_container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.flex__row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    padding: 0 1rem;
}

.plus__button,
.close__cross {
    cursor: pointer;
}

.default__frame {
    padding: 0 1rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.3rem;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
    font-weight: 700;
    font-size: 1.2rem;
}

.bg__green {
    background: #88D18A;
    color: #FFF;
}

.bg__orange {
    background: linear-gradient(91.4deg, #FF815E 0%, #FD4168 100%);
    color: #FFF;
}

.header__orange {
    background: linear-gradient(180deg, #FF815E 0%, #FD4168 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.uppercase {
    text-transform: uppercase;
}

.info__container {
    margin-top: 3rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 20rem;
}

.default__frame-connect {
    margin-top: 3.5rem;
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.modal__info {
    z-index: 3;
    max-width: 90rem;
    position: fixed;
    top: 25%;
    display: none;
    opacity: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4rem;
    gap: 2rem;
    justify-content: center;
    transition: opacity .5s ease-in-out;
}

.close__cross {
    position: absolute;
    top: 0%;
    right: 0%;
}

.modal__info-frame-first {
    width: 43rem;
    height: 15rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.modal__info-frame-second {
    width: 45rem;
    height: 15rem;
    text-align: right;
}

.modal__info-frame {
    max-width: 22rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    word-wrap: break-word;
    text-align: center;
}

.modal__info-frame svg {
    margin-bottom: 2rem;
}

.modal__info-frame h3 {
    margin-bottom: 3rem;
}

.bounding__container {
    justify-content: center;
    position: relative;
    align-items: center;
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    padding-top: inherit;
    max-width: 46rem;
    gap: inherit;
}

.modal__one-quarter {
    padding: 3rem;
    max-height: 17rem;
}

.widget__container {
    width: 90rem;
    height: 30rem;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.widget__container .table__frame {
    width: 98%;
    height: 6rem;
    padding-left: 3%;
    justify-content: space-between;
}

.widget__container .currency__frame {
    width: 17rem;
    height: 5rem;
    padding: 0 1rem;
    border-radius: 0.85rem;
    position: relative;
}

.widget__container .bg__orange {
    justify-content: center;
}

.range__bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    height: 8rem;
    top: 32%;
}

.range__bar .bg__orange {
    height: 3rem;
    width: 20rem;
    margin: 2.5rem 0;
}

.range__bar .range__slider {
    padding: 0;
    width: 8rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown__select-groupitem {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0%;
    box-shadow: 0 0 4rem rgb(0, 0, 0, 0.4rem);
    transition: all .5s ease-in-out;
    display: none;
}

.widget__container .dropdown__select-item {
    cursor: pointer;
    box-shadow: 0 0 0;
    border-radius: 0;
}

.widget__container .dropdown__select-item:last-child {
    border-bottom-right-radius: 0.85rem;
    border-bottom-left-radius: 0.85rem;
}

.widget__container .no__bottom-border-radius {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown__select-item:hover {
    background-color: #f2f2f2;
}

.dropdown__select-head {
    cursor: pointer;
}

.active {
    display: block;
}